
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUserPanel.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="about">
        <div class="container">
            <h2 class="heading-agileinfo">About Us<span>Events is a professionally managed Event</span></h2>
            <div class="about-grids-1">
                <div class="col-md-5 wthree-about-left">
                    <div class="wthree-about-left-info">
                        <img src="../Content/g3.jpg" alt="" />
                    </div>
                </div>
                <div class="col-md-7 agileits-about-right">
                    <h5>Online Event Managing.</h5>
                    <p>
                        
                      marriage Functions, Birthday Party  <span>Festival Evets etc..</span>
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

