
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_LayoutUserPanel.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />


    <div class="events-agileits-w3layouts">
        <div class="container">
            <h2 class="heading-agileinfo">Events<span>Events is a professionally managed Event</span></h2>
            <div class="popular-grids">
                <div class="col-md-4 popular-grid">
                    <img src="../Content/images/g7.jpg" class="img-responsive" alt="" />
                    <div class="popular-text">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal2">Birthday 2017</a></h5>
                        <div class="detail-bottom">
                            <ul>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i>30 May</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>LONDON, UK</li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 popular-grid">
                    <img src="../Content/images/g8.jpg" class="img-responsive" alt="" />
                    <div class="popular-text">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Weddings</a></h5>
                        <div class="detail-bottom">
                            <ul>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i>15 June</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>BERLIN, GERMANY</li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 popular-grid">
                    <img src="../Content/images/g9.jpg" class="img-responsive" alt="" />
                    <div class="popular-text">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Photography</a></h5>
                        <div class="detail-bottom">
                            <ul>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i>25June</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>VENICE, ITALY</li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 popular-grid">
                    <img src="../Content/images/g6.jpg" class="img-responsive" alt="" />
                    <div class="popular-text">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Catering</a></h5>
                        <div class="detail-bottom">
                            <ul>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i>01 July</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>NEWYORK, USA</li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 popular-grid">
                    <img src="../Content/images/g3.jpg" class="img-responsive" alt="" />
                    <div class="popular-text">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Promotions</a></h5>
                        <div class="detail-bottom">
                            <ul>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i>30 May</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>LONDON, UK</li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 popular-grid">
                    <img src="../Content/images/g2.jpg" class="img-responsive" alt="" />
                    <div class="popular-text">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Sangeet</a></h5>
                        <div class="detail-bottom">
                            <ul>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i>15 June</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>BERLIN, GERMANY</li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
</center>

